<!DOCTYPE html>
<html lang="it">
  <head>
    <%- include(head) %>
  </head>
  <body class="<%= bodyClass || '' %>">
    <%- include(navbar) %>

    <main class="container mt-4">
      <%- body %>
    </main>

    <%- include("partials/footer") %>
    <%- include("partials/scripts") %>
  </body>
</html>
